.pagination {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.pagination a {
    color: blue;
    text-decoration: none;
    padding: 8px 12px;
    display: inline-block;
}
.pagination a.active {
    color: white;
    border-radius: 5px;
    background-color: blue;
    font-weight: bold;
}
.pagination a:hover:not(.active, .dot) {
    color: white;
    background-color: gray;
    border-radius: 5px;
    font-weight: bold;
}